<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="https://www.linkedin.com/mpr/mpr/AAEAAQAAAAAAAAkrAAAAJDFhZTc3MGE5LWIyZjgtNGEzNS05ZGZiLWVmYmQwOGU5Mjc5Ng.jpg" style="width:100%" alt="Me">

        </div>
        <div class="w3-container">
          <h1>Sam Glickman</h1>
          <p><i id="work" class="fa fa-briefcase fa-fw w3-margin-right w3-large"></i>Web Developer</p>
          <p><i id="work" class="fa fa-home fa-fw w3-margin-right w3-large"></i>New York, NY</p>
          <p><i id="work" class="fa fa-envelope fa-fw w3-margin-right w3-large "></i>sammy.glickman@gmail.com</p>
          <p><a href="https://github.com/sglickman17"><i class="fa fa-github w3-hover-text-light-blue w3-large"></i></a>   <a href="https://www.linkedin.com/in/samuel-glickman/"><i class="fa fa-linkedin w3-hover-text-indigo w3-large"></i></a> </p>


          <hr>

          <p class="w3-large w3-text-theme"><b><i id='work' class="fa fa-globe fa-fw w3-margin-right"></i>Languages</b></p>
          <p>Ruby,  Rails,  HTML5, CSS, Javascript, AJAX, jQuery, React, Swift, Unity, Heroku, Test Driven Development, Git and Source Control, Agile Development</p>
          <br>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">



      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i id='work' class="fa fa-asterisk fa-fw w3-margin-right w3-xxlarge"></i>Projects</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>builtsmARt — Mobile / Web Application</b></h5>
          <p>Worked on a team of 5 to create and develop a mobile Augmented Reality Application. The application helps users build Ikea and other furniture by using a mobile application on their phone to display a 3D step by step instructions to help build the furniture. There is also a web application where users can look up furniture to bookmark for the mobile application. They can also find PDF versions of the original manuals</p>
          <hr>

        </div>
      </div>

      <div class="w3-container w3-card-2 w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i id='work'class="fa fa-car fa-fw w3-margin-right w3-xxlarge"></i>Work Experience</h2>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>LinkedIn, New York, NY — Relationship Manager</b></h5>
          <h6 id='work' class=""><i class="fa fa-calendar fa-fw w3-margin-right"></i>January  2016 - August 2016</h6>
          <li>Drove revenue by prospecting and building pipeline while building strong personal relationships with potential clients</li>
          <li>Closed new business consistently at or above quota level</li>
          <li>Develop and execute on a strategic plan for the territory and create reliable forecasts</li>
          <li>Excelled in communication and people skills</li>
          <li>Listened to the needs of the market and shared with product and marketing teams</li>
          <li>Led team in Add-On Business for Q2, first quarter on quota</li>
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Stack Overflow, New York, NY  — Sales Representative</b></h5>
          <h6 id='work' class=""><i class="fa fa-calendar fa-fw w3-margin-right"></i>April 2015 - January 2016</h6>
          <li>Responsible for all aspects of Sales Process from prospecting to closing new business</li>
          <li>Managed all accounts after the sales process, from up selling to account management</li>
          <li>Consistently hit monthly goals and top daily performance (call number, emails sent, ect.)</li>
          <li>Excelled in communication and people skills</li>
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Canopy Apps, New York, NY — Sales Executive</b></h5>
          <h6 id='work' class=""><i class="fa fa-calendar fa-fw w3-margin-right"></i>November  2014 - April 2015</h6>
          <li>Responsible for all aspects of Sales Process from prospecting to closing new business</li>
          <li>Constantly made Cold Calls to new prospects that I have uncovered by research and qualified</li>
          <li>In person and over the phone meeting to discus Canopy Ecosystem to prospective clients</li>
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>MakerBot, Brooklyn, NY — Inside Sales Executive</b></h5>
          <h6 id='work' class=""><i class="fa fa-calendar fa-fw w3-margin-right"></i>January 2014 - November 2014</h6>
          <li>Consistently hit my monthly number was promoted to Inside Sales Executive</li>
          <li>Excelled in communication and people skills and was promoted to the Inbound Call team</li>
          <li>Regularly billed over $260,000 a month</li>
          <li>In 11 months billed over 2.5 million</li>
          <li>Consistently led team in cold call volume of daily new customers</li>
          <li>Responsible for closing business and client management by cold call</li>
          <li>Excelled in communication and people skills</li>
          <hr>
        </div>

      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
