// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


#footer {
  background-color: #000066;
  color: white;
}

#work {
  color: #000066;

}

.i {
  color: #000066;
}
